.range-container {
    position: relative;
    width: 100%;
    height: 50px;
    margin-top: 20px;
}
.slider-track {
    width: 100%;
    height: 5px;
    background-color: #d5d5d5;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    border-radius: 5px;
}
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0; bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.5rem;
    width: 1.5rem;
    background-color: #1a73e8;
    cursor: pointer;
    border-radius: 50%;
    pointer-events: auto;
    border: 2px solid white;
    box-shadow: 0 0 2px rgba(0,0,0,0,3);
}
